.parsley-errors-list ol, ul {
    list-style: none;
    text-align: left;
}
.parsley-errors-list {
    color: red;
}
.parsley-errors-list ol, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.blockUI.blockMsg.blockPage {
    border: 0px !important;
    background-color: transparent !important;
}